<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serin Dunne</title>
    <link rel = 'stylesheet' href = 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 class = 'title pt-5'>Serin Dunne</h1>
    <h2 class ='title pt-5'>Photography by: Carl James</h2>
    <section class = 'd-flex flex-row justify-content-evenly align-items-center flex-wrap pt-5' id = 'bootstrap-overrides'>
        <img class = 'image-album clickable p-5 enlargeimg' src ='/assets/Portfolio/pimgone.jpeg' alt = 'image one here'>
        <img class = 'image-album clickable p-5 enlargeimg' src ='/assets/Portfolio/pimgtwo.jpeg' alt = 'image one here'>
        <img class = 'image-album clickable p-5 enlargeimg' src ='/assets/Portfolio/pimgthree.jpeg' alt = 'image one here'>
        <img class = 'image-album clickable p-5 enlargeimg' src ='/assets/Portfolio/pimgfour.jpeg' alt = 'image one here'>
        <img class = 'image-album clickable p-5 enlargeimg' src ='/assets/Portfolio/pimgfive.jpeg' alt = 'image one here'>
        <img class = 'image-album clickable p-5 enlargeimg' src ='/assets/Portfolio/pimgsix.jpeg' alt = 'image one here'>
        <img class = 'image-album clickable p-5 enlargeimg' src ='/assets/Portfolio/pimgseven.jpeg' alt = 'image one here'>
        <img class = 'image-album clickable p-5 enlargeimg' src ='/assets/Portfolio/pimgeight.jpeg' alt = 'image one here'>
        <img class = 'image-album clickable p-5 enlargeimg' src ='/assets/Portfolio/pimgnine.jpeg' alt = 'image one here'>
        <img class = 'image-album clickable p-5 enlargeimg' src ='/assets/Portfolio/pimgten.jpeg' alt = 'image one here'>
        <img class = 'image-album clickable p-5 enlargeimg' src ='/assets/Portfolio/pimgeleven.jpeg' alt = 'image one here'>
        <img class = 'image-album clickable p-5 enlargeimg' src ='/assets/Portfolio/pimgtwelve.jpeg' alt = 'image one here'>
        </section>
        <section>
            <h2 class = 'title pt-5 '>Profile Shots</h2>
            <section class = 'd-flex flex-row justify-evenly-around align-items-center flex-wrap' id ='bootstrap-ovveridesP'>
                <img class = 'image-album clickable p-5 enlargeimg' src ='/assets/Portfolio/pimgthirteen.jpeg' alt = 'image one here'>
                <img class = 'image-album clickable p-5 enlargeimg' src ='/assets/Portfolio/pimgfourteen.jpeg' alt = 'image one here'>
                <img class = 'image-album clickable p-5 enlargeimg' src ='/assets/Portfolio/pimgfifteen.jpeg' alt = 'image one here'>
                <img class = 'image-album clickable p-5 enlargeimg' src ='/assets/Portfolio/pimgsixteen.jpeg' alt = 'image one here'>
        </section>
        </section>
    <script src = 'js/script.js'></script> 
</body>
</html>
